@import url('https://fonts.googleapis.com/css?family=Audiowide|Electrolize|Macondo|Orbitron|Press+Start+2P|Ropa+Sans|VT323|Zeyada');

font-family: 'Ropa Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Macondo', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Electrolize', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Zeyada', cursive;
